{% extends "cf_base.html" %}
{% import 'macros.html' as macros %}
{% block title %}{{ filer_id }}{% endblock %}

{% block body %}
<h1>{{ ["","📢","🧑"][info["filer_type_id"]] | default("?")}}{{ info["filer_name"]}}</h1>

<p>Committee Type: {{ info["political_committee_type"] }}</p>
<p>{{ info["position"] }} {{ info["office"] }} {{ info["jurisdiction"] }}</p>
<a href="{{ info["url"] }}">Registration</a>

<h2>Top Contributors since 2009</h2>
<table>
{% for row in contributors %}
    <tr>
        <td class="name">{{ macros.contributor(row["code_id"], row["contributor_name"], row["vip"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["total"]) }}</td>
    </tr>
{% endfor %}
</table>

<h2>Most recent contributions</h2>
<table>
{% for row in contributions %}
    <tr>
        <td>{{ row["receipt_date"] }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["amount"]) }}</td>
        <td>
            {% if row["cash_or_in_kind_id"] == 2 %}
            🎁<span class="d-none d-lg-inline">in-kind</span>
            {% else %}
            {% if row["amount"] >= 200 %}💰{% else %}💵{% endif -%}<span class="d-none d-lg-inline">cash</span>
            {% endif %}
        </td>
        <td>
            {{ macros.contributor(row["code_id"], row["contributor_name"], row["vip"], row["contributor_occupation"], row["contributor_employer_name"]) }}
            <a href="{{ row["url"] }}">Filing</a>
        </td>
    </tr>
{% endfor %}
</table>

<h2>Most recent expenditures</h2>
<table>
{% for row in expenditures %}
    <tr>
        <td>{{ row["expenditure_date"] }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["amount"]) }}</td>
        <td>{{ row["recipient_name"] }} - {{ row["description"] }} <a href="/raw/expenditures/{{ row["rowid"] }}">Full</a> | <a href="{{ row["url"] }}">Filing</a></td></tr>
{% endfor %}
</table>

{% endblock %}
