{% extends "cf_base.html" %}
{% import 'macros.html' as macros %}
{% block title %}Campaign Funds{% endblock %}
{% block body %}
<h1>CampaignFunds.org</h1>
<p>Welcome to <a href="https://campaignfunds.org">campaignfunds.org</a>. Our goal is to make it easier to browse public campaign contribution and expenditure records. Data is from <a href="https://www.pdc.wa.gov/">the Washington PDC</a> and is updated periodically. Contact <a href="https://twitter.com/tannewt">@tannewt on Twitter</a> or <a href="https://github.com/tannewt/campaign-funds.org">GitHub</a> for more info.</p>

<h2>2022</h2>
<h3>Top fundraisers</h3>
<table>
{% for row in sql("select type_id, filer_name, filer_id, sum(amount) as total from contributions, contributions_filer_name WHERE filer_name_id = contributions_filer_name.id and election_year = 2022 group by filer_id order by total DESC limit 20") %}
    <tr>
        <td>{{ macros.filer(row["type_id"], row["filer_id"], row["filer_name"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["total"]) }}</td>
    </tr>
{% endfor %}
</table>

<h3>Top Contributors</h3>
<table>
{% for row in sql("select contributor_name, code_id, total_amount from contribution_totals where election_year = 2022 order by total_amount desc limit 20") %}
    <tr>
        <td>{{ macros.contributor(row["code_id"], row["contributor_name"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["total_amount"]) }}</td>
    </tr>
{% endfor %}
</table>

<h2>2021</h2>

<h3>Elections</h3>
<p>Click <a href="/election/20211102">here</a> to compare candidates (and their PACs) for the <a href="/election/20211102">November 2nd, 2021 General Election</a>.</p>

<h3>Top fundraisers</h3>
<table>
{% set ns = namespace(top_total=0) %}
{% for row in sql("select type_id, filer_name, filer_id, sum(amount) as total from contributions, contributions_filer_name WHERE filer_name_id = contributions_filer_name.id AND election_year = 2021 group by filer_id order by total DESC limit 20") %}
{% if loop.first %}
{% set ns.top_total = row["total"] %}
{% endif %}
    <tr>
        <td>{{ macros.filer(row["type_id"], row["filer_id"], row["filer_name"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["total"]) }}</td>
    </tr>
{% endfor %}
</table>

<h3>Top Contributors</h3>
<table>
{% for row in sql("select contributor_name, code_id, total_amount from contribution_totals where election_year = 2021 order by total_amount desc limit 20") %}
    <tr>
        <td>{{ macros.contributor(row["code_id"], row["contributor_name"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["total_amount"]) }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
