{% extends "cf_base.html" %}
{% import 'macros.html' as macros %}
{% block title %}{{ title }}{% endblock %}
{% macro filer_summary(filer_data) %}
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{ ["","🧑", "📢"][filer_data.filer["filer_type_id"]] }} {{ filer_data.filer["filer_name"] }} <a class="link" name="{{filer_data.filer_id}}" href="#{{filer_data.filer_id}}">🔗</a></h5>
        <table>
            <tr>
                <td>Total contributions</td>
                <td class="dollars font-monospace">
        {% if filer_data.totals["total"] %}{{ "${:,.2f}".format(filer_data.totals["total"]) }}
       {% else %}{{ "${:,.2f}".format(0) }}
       {% endif %}
                </td>
            </tr>
            <tr>
                <td>Total contributors</td>
                <td class="dollars font-monospace">
        {% if filer_data.contributors["count"] %}{{ filer_data.contributors["count"] }}{% else %}0{% endif %}
                </td>
            </tr>
            <tr>
                <td>Average total contribution</td>
                <td class="dollars font-monospace">
        {% if filer_data.totals["total"] %}{{ "${:,.2f}".format(filer_data.totals["total"] / filer_data.contributors["count"]) }}{% else %}n/a{% endif %}
                </td>
            </tr>
        </table>
       <a href="/filer/{{ filer_data.filer_id }}" class="card-link">Full info</a>
        </div>
    </div>
{% endmacro %}

{% block body %}
<div class="container-sm">

<h1>{{ title }}</h1>
<ul>
{% for jurisdiction, races in jurisdictions.items() %}
<li><a href="#{{jurisdiction}}">{{ jurisdiction }}</a></li>
<ul>
{% for position, filers in races.items() %}
<li><a href="#{{jurisdiction}}-{{position}}">{{ position }}</a></li>
{% endfor %}
</ul>
{% endfor %}
</ul>

{% for jurisdiction, races in jurisdictions.items() %}
<h2>{{ jurisdiction }}<a class="link" name="{{jurisdiction}}" href="#{{jurisdiction}}">🔗</a></h2>
{% for position, filers in races.items() %}
<h3>{{ position }}<a class="link" name="{{jurisdiction}}-{{position}}" href="#{{jurisdiction}}-{{position}}">🔗</a></h3>
<div class="row w-l-50 mb-4">
{% for filer_data in filers %}
    <div class="col-sm-6 col-l-3 mb-3">
    {{ filer_summary(filer_data) }}
    </div>
{% endfor %}
</div>
{% endfor %}
{% endfor %}

</div>

{% endblock %}
