{% extends "base.html" %}
{% block title %}Campaign Funds{% endblock %}
{% block body %}
<h2>Top fundraisers for 2021 elections</h2>
<table>
{% for row in sql("select filer_name, filer_id, sum(amount) as total from contributions, contributions_filer_name WHERE filer_name_id = contributions_filer_name.id AND election_year = 2021 group by filer_id order by total DESC limit 100") %}
    <tr><td><a href="/filer/{{ row["filer_id"] }}">{{ row["filer_name"] }}</a></td><td>{{ "${:,.2f}".format(row["total"]) }}</td></tr>
{% endfor %}
</table>

<h2>Top Contributors for 2021</h2>
<table>
{% for row in sql("select contributor_name, total_amount from contribution_totals where election_year = 2021 order by total_amount desc limit 10") %}
    <tr><td><a href="/donor/{{ row["contributor_name"] }}">{{ row["contributor_name"] }}</a></td><td>{{ "${:,.2f}".format(row["total_amount"]) }}</td></tr>
{% endfor %}
</table>

<h2>Top fundraisers for 2022 elections</h2>
<table>
{% for row in sql("select filer_name, filer_id, sum(amount) as total from contributions, contributions_filer_name WHERE filer_name_id = contributions_filer_name.id and election_year = 2022 group by filer_id order by total DESC limit 100") %}
    <tr><td><a href="/filer/{{ row["filer_id"] }}">{{ row["filer_name"] }}</a></td><td>{{ "${:,.2f}".format(row["total"]) }}</td></tr>
{% endfor %}
</table>

{% endblock %}
