{%- macro contributor(code, name, occupation=None, employer=None) -%}
{{ ["","🧑","❓","🏢","🔨","📢","🎈","⚖️","🤑"][code] | default("?")}}
<a href="/donor/{{ name }}">{{ name }}</a> 
            {% if code == 1 and occupation %}
            - {{ occupation }}
            {% if employer %}at <a href="/employer/{{ employer }}">{{ employer }}</a>
            {% endif %}
            {% endif %}
{%- endmacro -%}
{%- macro filer(type_id, filer_id, name) -%}
{{ ["","📢","🧑"][type_id] | default("?")}}
<a href="/filer/{{ filer_id }}">{{ name }}</a>
{%- endmacro -%}
{%- macro breakdown() -%}
        <td class="bar">
            <div class="progress">
                {% for code in sql("select code_id, SUM(amount) as total from contributions where filer_id = ? AND election_year = 2021 group by code_id order by total DESC", [row["filer_id"]]) %}
                  <div class="progress-bar contributor-code-{{ code["code_id"] }}" role="progressbar" style="width: {{  100 * code["total"] / ns.top_total }}%" aria-valuenow="{{  100 * code["total"] / ns.top_total }}" aria-valuemin="0" aria-valuemax="100"></div>
                  {% endfor %}
            </div>
        </td>
{%- endmacro -%}