{% extends "cf_base.html" %}
{% import 'macros.html' as macros %}
{% block title %}{{ donor_name }}{% endblock %}
{% block body %}
<h2>Top benefactors since 2009</h2>
<table>
{% for row in top_filers %}
    <tr>
        <td>{{ macros.filer(row["type_id"], row["filer_id"], row["filer_name"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["total"]) }}</td>
    </tr>
{% endfor %}
</table>

<h2>Total donations by year</h2>
<table>
{% for row in year_totals %}
    <tr><td>{{ row["year"] }}</td><td class="dollars font-monospace">{{ "${:,.2f}".format(row["total"]) }}</td></tr>
{% endfor %}
</table>

<h2>Most recent donations</h2>
<table>
{% for row in recent_donations %}
    <tr>
        <td>{{ row["receipt_date"] }}</td>
        <td>{{ macros.filer(row["type_id"], row["filer_id"], row["filer_name"]) }}</td>
        <td class="dollars font-monospace">{{ "${:,.2f}".format(row["amount"]) }}</td></tr>
{% endfor %}
</table>

<a href="/raw/contributions?contributor_name__exact={{ donor_name }}&_sort_desc=receipt_date">All donations</a>

{% endblock %}
