<html>
<body>

<h2>Top benefactors since 2009</h2>
<table>
{% for row in sql("select filer_name, filer_id, sum(amount) as total from Contributions_to_Candidates_and_Political_Committees where contributor_name = ? group by filer_id order by total DESC limit 10", [donor_name]) %}
    <tr><td><a href="/filer/{{ row["filer_id"] }}">{{ row["filer_name"] }}</a></td><td>{{ "${:,.2f}".format(row["total"]) }}</td></tr>
{% endfor %}
</table>

<h2>Total donations by year</h2>
<table>
{% for row in sql("select strftime('%Y', receipt_date) as year, SUM(amount)
as total from Contributions_to_Candidates_and_Political_Committees where contributor_name = ? group by year order by year DESC limit 50", [donor_name]) %}
    <tr><td>{{ row["year"] }}</td><td>{{ "${:,.2f}".format(row["total"]) }}</td></tr>
{% endfor %}
</table>

<h2>Most recent donations</h2>
<table>
{% for row in sql("select receipt_date, filer_name, filer_id, amount from Contributions_to_Candidates_and_Political_Committees where contributor_name = ? order by receipt_date DESC limit 20", [donor_name]) %}
    <tr><td>{{ row["receipt_date"] }}</td><td><a href="/filer/{{ row["filer_id"] }}">{{ row["filer_name"] }}</a></td><td>{{ "${:,.2f}".format(row["amount"]) }}</td></tr>
{% endfor %}
</table>

<a href="/contributions/Contributions_to_Candidates_and_Political_Committees?contributor_name__exact={{ donor_name }}&_sort_desc=receipt_date">All donations</a>

</body>
</html>
